export PCGL_CLIENT_ID=
export PCGL_CLIENT_SECRET=
export PCGL_ISSUER=https://cilogon.org
export PCGL_DEBUG_MODE=1
export PCGL_COID=43
export PCGL_CORE_API_USER=co_$PCGL_COID.pcgl_authz
export PCGL_CORE_API_KEY=
export PCGL_API_URL=https://registry-test.cilogon.org
