PyYAML==6.0.1
requests==2.32.4
requests-mock>=1.12.1
connexion==3.1.0
connexion[swagger-ui]
gunicorn>=23.0.0
uvicorn[standard]==0.30.6
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
pytest==8.3.3
pytest-asyncio>=0.25.3
